/**
 * 使文本在鼠标拖动时不被选中
 */
p, span {
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}


/**
 * 缺省api节点
 */
.defaultNode {
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 5px #ccc;
	height: 62px;
	width: 110px;
	position: absolute;
	cursor: move;
	line-height: 10px;
	background: url(../images/nodebg-fink-min.png);
	z-index: 20;
	overflow：hidden;
	word-break: break-all;word-wrap: break-word;
}

/**
 * 缺省运算节点
 */
.defaultComputeNode {
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 5px #ccc;
	height: 62px;
	width: 110px;
	position: absolute;
	cursor: move;
	line-height: 10px;
	background: url(../images/nodebg-js-min.png);
	z-index: 20;
	overflow：hidden;
	word-break: break-all;word-wrap: break-word;
}

/**
 * 开始节点
 */
.startNode {
	/* 边框 */
	border: 1.5px solid #fff;
	border-radius: 50%;
	box-shadow: 0 0 5px #4E4E4E;
	height: 50px;
	width: 50px;
	position: absolute;
	cursor: move;
	text-align: center;
	line-height: 50px;
	/* 设置字间距 */
	letter-spacing: 2px;
	background: #47e3f0;
	color:#000;
	z-index: 20;
}

/**
 * 结束节点
 */
.endNode {
	/* 边框 */
	border: 1.5px solid #fff;
	/* 圆角 */
	border-radius: 50%;
	/* 泛光 */
	box-shadow: 0 0 5px #4E4E4E;
	/* 高度 */
	height: 50px;
	/* 宽度 */
	width: 50px;
	/* 定位 */
	position: absolute;
	/* 鼠标样式 */
	cursor: move;
	/* 文字水平居中 */
	text-align: center;
	/* 文字垂直居中，与div的高度要保持一致 */
	line-height: 45px;
	/* 设置字间距 */
	letter-spacing: 2px;
	color:#fff;
	background: #f04238;
	/* 层叠顺序 */
	z-index: 20;
}

/**
 * 网关节点
 */
.gateWayNode {
    /* 边框 */
	border: 1.5px solid #fff;
	/* 泛光 */
	box-shadow: 0 0 5px #0c6b73;
	/* 高度 */
  height: 50px;
  /* 宽度 */
  width: 50px;
    /* 定位 */
	position: absolute;
	/* 鼠标样式 */
	cursor: move;
	/* 文字水平居中 */
	text-align: center;
	/* 文字垂直居中，与div的高度要保持一致 */
	line-height: 50px;
	/* 设置字间距 */
	letter-spacing: 2px;
    /* 背景渐变 */
	background-color: #c3f4f8;
	/* 层叠顺序 */
	z-index: 20;

	/* Rotate */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
	/* Rotate Origin */
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

/**
 * 网关节点内部字体不倾斜
 */
.gateWayNode span{
    display: inline-block;
    transform: rotate(45deg);
}

/**
 * 定时器等节点
 */
.timeNode {
	/* 边框 */
	border: 1.5px solid #044831;
	/* 圆角 */
	border-radius: 50%;
	/* 泛光 */
	box-shadow: 0 0 5px #4E4E4E;
	/* 高度 */
	height: 50px;
	/* 宽度 */
	width: 50px;
	/* 定位 */
	position: absolute;
	/* 鼠标样式 */
	cursor: move;
	/* 文字水平居中 */
	text-align: center;
	/* 文字垂直居中，与div的高度要保持一致 */
	line-height: 50px;
	/* 设置字间距 */
	letter-spacing: 1px;
	/* 背景渐变 */
	background-repeat: no-repeat;
  background-position: 48% 48%;
  background-image: url(../images/time.png);
	background-color: #c5ecff;
	/* 层叠顺序 */
	z-index: 20;
}

/**
 * 消息提醒节点
 */
.msgNode {
	/* 边框 */
	border: 1.5px solid #044831;
	/* 圆角 */
	border-radius: 50%;
	/* 泛光 */
	box-shadow: 0 0 5px #4E4E4E;
	/* 高度 */
	height: 50px;
	/* 宽度 */
	width: 50px;
	/* 定位 */
	position: absolute;
	/* 鼠标样式 */
	cursor: move;
	/* 文字水平居中 */
	text-align: center;
	/* 文字垂直居中，与div的高度要保持一致 */
	line-height: 50px;
	/* 设置字间距 */
	letter-spacing: 1px;
	/* 背景渐变 */
	background-repeat: no-repeat;
  background-position: 48% 48%;
  background-image: url(../images/message.png);
	background-color: #c5ecff;
	/* 层叠顺序 */
	z-index: 20;
}

/**
 * 消息提醒节点
 */
.weixinNode {
	/* 边框 */
	border: 1.5px solid #044831;
	/* 圆角 */
	border-radius: 50%;
	/* 泛光 */
	box-shadow: 0 0 5px #4E4E4E;
	/* 高度 */
	height: 50px;
	/* 宽度 */
	width: 50px;
	/* 定位 */
	position: absolute;
	/* 鼠标样式 */
	cursor: move;
	/* 文字水平居中 */
	text-align: center;
	/* 文字垂直居中，与div的高度要保持一致 */
	line-height: 50px;
	/* 设置字间距 */
	letter-spacing: 1px;
	/* 背景渐变 */
	background-repeat: no-repeat;
  background-position: 48% 48%;
  background-image: url(../images/weixin.png);
	background-color: #c5ecff;
	/* 层叠顺序 */
	z-index: 20;
}


.dingNode {
	/* 边框 */
	border: 1.5px solid #044831;
	/* 圆角 */
	border-radius: 50%;
	/* 泛光 */
	box-shadow: 0 0 5px #4E4E4E;
	/* 高度 */
	height: 50px;
	/* 宽度 */
	width: 50px;
	/* 定位 */
	position: absolute;
	/* 鼠标样式 */
	cursor: move;
	/* 文字水平居中 */
	text-align: center;
	/* 文字垂直居中，与div的高度要保持一致 */
	line-height: 50px;
	/* 设置字间距 */
	letter-spacing: 1px;
	/* 背景渐变 */
	background-repeat: no-repeat;
  background-position: 48% 48%;
  background-image: url(../images/dingding.png);
	background-color: #c5ecff;
	/* 层叠顺序 */
	z-index: 20;
}

.variableNode {
	border: 1.5px solid #044831;
	border-radius: 50%;
	box-shadow: 0 0 5px #4E4E4E;
	height: 50px;
	width: 50px;
	position: absolute;
	cursor: move;
	text-align: center;
	line-height: 50px;
	letter-spacing: 1px;
  background-position: 48% 48%;
	background-image: url(../images/variableNode.png);
	background-color: #c5ecff;
	background-repeat: no-repeat;
	z-index: 20;
}

.variableRuleNode {
	border: 1.5px solid #044831;
	border-radius: 50%;
	box-shadow: 0 0 5px #4E4E4E;
	height: 50px;
	width: 50px;
	position: absolute;
	cursor: move;
	text-align: center;
	line-height: 50px;
	letter-spacing: 1px;
  background-position: 48% 48%;
	background-color: #c5ecff;
	background-repeat: no-repeat;
	z-index: 20;
}

.dataMergeNode {
	border: 1.5px solid #044831;
	border-radius: 50%;
	box-shadow: 0 0 5px #4E4E4E;
	height: 50px;
	width: 50px;
	position: absolute;
	cursor: move;
	text-align: center;
	line-height: 50px;
	letter-spacing: 1px;
  background-position: 48% 48%;
	background-color: #c5ecff;
	z-index: 20;
}

/**
 * 事件节点
 */
.eventNode {
	border: 1.5px solid #044831;
	border-radius: 50%;
	box-shadow: 0 0 5px #4E4E4E;
	height: 50px;
	width: 50px;
	position: absolute;
	cursor: move;
	text-align: center;
	line-height: 50px;
	letter-spacing: 1px;
	background-repeat: no-repeat;
  background-position: 48% 48%;
	background-color: #c5ecff;
	z-index: 20;
}

/**
 * 转换器
 */
.dataMapNode {
	border: 1.5px solid #044831;
	border-radius: 50%;
	box-shadow: 0 0 5px #4E4E4E;
	height: 50px;
	width: 50px;
	position: absolute;
	cursor: move;
	text-align: center;
	line-height: 50px;
	letter-spacing: 1px;
	background: url(../images/datamap.png) no-repeat;
  background-position: 48% 48%;
	background-color: #c5ecff;
	z-index: 20;
}

.textNode {
	position: absolute;
	cursor: move;
	height: 50px;
	width: 160px;
	text-align: center;
	z-index: 19;
}

/**
 * 连接线动画样式
 */
.connectionAnimateClass {
	display: none;
}

/**
 * overlay label样式
 */
.labelClass {
	background-color: white;
	padding: 3px;
	opacity: 1.0;
	border: 1px solid #346789;
	border-radius: 10px;
	cursor: pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

.monitorLabelClass {
	background-color: #FFFF33;
	padding: 1px;
	opacity: 0.7;
	border: 1px solid #346789;
	border-radius: 6px;
	cursor: pointer;

	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

.jtk-connector { z-index: 25; }
.jtk-endpoint { z-index: 25; }
.jtk-overlay { z-index: 25; }

/**
 * 流程监控数据文本
 */
.monitorCountText {
	/* 边框 */
	border: 1px solid #40AFFE;
	/* 圆角 */
	border-radius: 5px;
	/* 泛光 */
	box-shadow: 0 0 15px #4E4E4E;
	/* 定位 */
	position: absolute;
	/* 鼠标样式 */
	cursor: pointer;
	padding:2px;
	font-size: 10px;
	/* 文字水平居中 */
	text-align: center;
	/* 设置字间距 */
	letter-spacing: 2px;
	/* 背景渐变 */
	background: #FFFF33;
	/* 层叠顺序 */
	z-index: 30;
}


.nodeTitle{
	letter-spacing: 1px;
	color:#fff;
	font-weight:600;
	line-height:26px;
	margin-left:10px;
	height:26px;
	width:140px;
	text-overflow:ellipsis;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
.nodeRemark{
	font-family:Tahoma;
	color:#000;
	line-height:12px;
	margin-top:5px;
	margin-left:6px;
	overflow:hidden;
	text-overflow: ellipsis;
	height:40px;
	width:90%;
	font-size:10px;
	font-family:'Microsoft YaHei';
	-webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
